.window {
  width: 80%;
  margin: 0 auto 2rem;
  box-shadow: 0 0.25rem 0.5rem gray;
  border-radius: 0 0 0.1rem 0.1rem;
}

.bar {
  background: #191919;
  height: 36px;
  border-radius: 0.5rem 0.5rem 0 0;
}

.btns::before,
.btns::after,
.btns {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  display: block;
}

.btns {
  background: #f6b73e;
  position: relative;
  margin-left: 38px;
  top: 12px;
}
.btns::before,
.btns::after {
  content: " ";
  position: absolute;
}
.btns::before {
  background: #f55551;
  margin-left: -20px;
}
.btns::after {
  background: #32c146;
  margin-left: 20px;
}

.body {
  width: 100%;
  height: 43rem;
  background: #232323;
  padding: 18px;
}
.body .pulse {
  -webkit-animation: pulse 1s ease-in-out infinite;
  -moz-animation: pulse 1s ease-in-out infinite;
  animation: pulse 1s ease-in-out infinite;
  color: white;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.command {
  color: #49b0b6;
}

.comment {
 color: gray; 
}

strong, span {
  font-family: "Tilt Neon", sans-serif;

}

strong {
  @apply text-2xl text-gray-300;
}
