@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Osmanya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Lenis Smooth Scrolling */

body {
  overflow-x: hidden;
  cursor: none;
  z-index: 0;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

h2,
h4 {
  font-family: "Lobster", sans-serif;
  letter-spacing: 3px;
}
sup {
  color: rgb(90, 90, 90);
}
h1 {
  @apply text-9xl font-extrabold;
}
h1 {
  letter-spacing: 4px;
  font-family: "Outfit", sans-serif;
}

.h1__text {
  width: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
  display: flex;
  flex-direction: column;
  position: relative;
}
.h1__hidden {
  position: absolute;
  width: 100%;
  background-color: #71c9ce;
  color: #0d0d0d;

  clip-path: polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%);
  transform-origin: center;
  transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;
}

.h1__text:hover .h1__hidden {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.transition-bg {
  transition: background-color 0.3s ease, all 0.3s ease, opacity 0.3s ease;
}
.landing-text {
  /* position: absolute; */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  overflow: hidden;
  /* height: 79px; */
}
.text__bg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  transform-origin: left;
  transform: scaleX(0);
  background-color: #71c9ce;
}
.char {
  transform: translateY(-115px);
  transition: transform 0.5s;
}
.text__animate {
  font-family: "Outfit", sans-serif;
  width: 11.5ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  /* border-right: 2px solid; */
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

li {
  text-transform: uppercase;
  /* font-family: "Noto Sans Osmanya", sans-serif; */
  font-size: 18px;
  position: relative;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
}

span {
  font-family: "Tilt Neon", sans-serif;
}

.btn {
  display: inline-block;
  margin-top: 3rem;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid white;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 1;
  font-weight: 900;
}

.btn:hover {
  border: none;
}

.btn::after {
  content: "";
  background-color: #e7b10a;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn:hover::after {
  top: 0px;
  left: 0px;
}

.image {
  image-rendering: auto;
}

.success_div {
  display: block;
  transform: translateY(200%);
  animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
p {
  font-family: "Outfit", sans-serif;
}
button {
  transition: all 0.5s ease-in-out;
  z-index: 999;
  font-family: "Outfit", sans-serif;
  /* font-family: "Tilt Neon", sans-serif; */
}
.btn-animate {
  position: relative;
  color: black;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
}

.btn-animate:before,
.btn-animate:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.btn-animate:hover {
  color: black;
  transition-delay: 0.5s;
}

.btn-animate:hover:before {
  transition-delay: 0s;
}

.btn-animate:hover:after {
  background: #71c9ce94;
  transition-delay: 0.35s;
}

.from-top:before,
.from-top:after {
  left: 0;
  height: 0;
  width: 100%;
}

.from-top:before {
  bottom: 0;
  border: 1px solid #71c9ce94;
  border-top: 0;
  border-bottom: 0;
}

.from-top:after {
  top: 0;
  height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
  height: 100%;
}

svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  stroke: rgb(0, 0, 0);
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.btn-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: -1;
  background-color: #71c9ce;
  transition: all 0.5s ease-in-out;
}

button:hover .btn-line {
  background-color: #71c9ce;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.box {
  border-radius: 15px;
}

.loader {
  transform: translateY(-100%);
  animation: slideDown 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  animation-delay: 40s;
}

/* animated-gradient background home Section */

.animate-gradient {
  transform: translateY(-100%);
  animation: gradient 5s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    transform: translateY(0%);
    background-position: 0% 50%;
  }
}

/* Animated Projects Section */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 200vh;
}

.cta {
  position: relative;
  transition: all 0.2s ease;
  border: 0px;
}
.cta::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  display: block;
  border-radius: 50px;
  background: rgb(113, 201, 206, 0.8);
  width: 75px;
  height: 75px;
  transition: all 0.3s ease;
}
.cta:hover > svg {
  transform: translateX(0);
}
.cta:hover::before {
  width: 100%;
  background: rgb(113, 201, 206, 0.5);
}
.cta > span {
  position: relative;
}

.bg-animate {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.row {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  width: 100%;
}

.card-small {
  width: 200px;
  padding: 15px;
  height: 100%;
  box-shadow: inset 1px 1.5px 2px #fff9, inset 1px -0.5px 2px #ffffff4d,
    0 0.6021873017743928px 0.6021873017743928px -1.25px #0000002e,
    0 2.288533303243457px 2.288533303243457px -2.5px #00000029,
    0 10px 10px -3.75px #00000010;
  backdrop-filter: blur(40px);
  border-radius: 30px;
  position: relative;
}
.card-min {
  width: 320px;
  height: 100px;

  box-shadow: inset 1px 1.5px 2px #fff9, inset 1px -0.5px 2px #ffffff4d,
    0 0.6021873017743928px 0.6021873017743928px -1.25px #0000002e,
    0 2.288533303243457px 2.288533303243457px -2.5px #00000029,
    0 10px 10px -3.75px #00000010;
  backdrop-filter: blur(40px);
  border-radius: 30px;
  position: relative;
  background: rgb(113, 201, 206, 0.3);
}

.small {
  width: 370px;
  background: rgb(113, 201, 206, 0.2);
  height: 250px;
}

.button {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  border: none;
  font-size: 16px;
  padding: 6px 12px;
  color: white;
  text-decoration: none;
  transition: background-color 0.25s;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.card:has(img) {
  padding: 0;
}

label {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 26px;
}

.right-side {
  display: flex;
  /* width: 200px; */
  /* height: 400px; */
}

@keyframes animate-left {
  100% {
    transform: rotateY(45deg) translateX(0px);
  }
}

@keyframes animate-right {
  100% {
    transform: rotateY(-45deg) translateX(0px);
  }
}

@keyframes animate-center {
  100% {
    transform: rotateX(0deg) scale(0.9) translateY(0px);
  }
}

.section-image {
  position: relative;
  background-position: right;
}
.section-image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.span-skill {
  position: relative;
  transition: all 0.4s ease-in-out;
  border: 2px solid #71c9ce;
}
.span-skill:before,
.span-skill:after {
  content: "";
  display: block;
  position: absolute;
  border-color: #71c9ce;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.4s ease-in-out;
}
.span-skill:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}
.span-skill:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}
.span-skill:hover:before,
.span-skill:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #71c9ce;
}
.span-skill:hover {
  color: #000;
  background-color: #71c9ce;
  border-color: #71c9ce;
}

.h1-skill {
  position: relative;
  transition: all 0.3s ease-in-out;
  border: 2px solid black;
  padding: 10px 25px;
}
.h1-skill:before,
.h1-skill:after {
  content: "";
  display: block;
  position: absolute;
  border-color: black;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out;
}
.h1-skill:before {
  top: -6px;
  left: -6px;
  border-width: 4px 0 0 4px;
  z-index: 5;
}
.h1-skill:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 4px 4px 0;
}
.h1-skill:hover:before,
.h1-skill:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: black;
}
.h1-skill:hover {
  color: #71c9ce;
  background-color: black;
  border-color: black;
}

.link-mail {
  clip-path: circle(50px);
}

.link {
  overflow: hidden;
  position: relative;
  z-index: 10;
  font-family: "Tilt Neon", sans-serif;
}

.link:after {
  content: "";
  position: absolute;
  left: 0.4rem;
  top: 0;
  z-index: -10;
  height: 490%;
  width: 140%;
  background: rgb(121, 200, 210);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
.link:hover {
  color: #000;
}

.link:hover svg {
  stroke: #000;
}

.link:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.hover-link:hover {
  color: gray;
}
.hover-link:hover svg {
  stroke: gray;
}

.padding-animate {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.padding-animate:hover {
  @apply px-10;
}
.h1-hide {
  display: block;
}
.h1-image {
  display: none;
  opacity: 0;
}
.padding-animate:hover .h1-image {
  display: flex;
  opacity: 10;
}
