.left-light {
  position: absolute;
  left: 0;
  top: -400px;
  width: 280px;
  height: 1350px;
  background-image: linear-gradient(
    180deg,
    rgba(84, 84, 212, 0.27) 0%,
    rgba(84, 84, 212, 0.11) 100%
  );
  transform: rotate(-54deg);
  border-radius: 155px;
  filter: blur(99.5px);
  z-index: 1;
}


.guy-image-container {
  user-select: none;
  position: relative;
  top: -50px;
  margin-left: 2rem;
}

.guy-image-container .background-square-frame {
  position: absolute;
  width: 245px;
  height: 180px;
  border-radius: 15px;
  border: solid 2px black;
  transform: rotate(23.5deg);
  top: 35px;
  /* left: -40px; */
}

.guy-image-container::before {
  content: "";
  position: absolute;
  transform: rotate(23.5deg);
  width: 245px;
  height: 180px;
  border-radius: 5px;
  border: solid 6px transparent;
  border-color: transparent black black transparent;
  top: 70px;
  left: 12.8px;
  z-index: 1;
}

.invisible-holder {
  transform: rotate(23.5deg);
  overflow: hidden;
  width: 350px;
  height: 257px;
}

.invisible-holder .square-frame {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #5454d4, #5e5ee7);
  border: solid 3px black;
  position: relative;
  top: 78px;
  left: 20px;
  /* overflow: hidden; */
}

.invisible-holder .square-frame .img {
  transform: rotate(-23.5deg);
  width: 350px;
  height: 403px;
  object-fit: contain;
  position: relative;
  top: -150px;
  left: -55px;
  bottom: 0;
  /* overflow: hidden; */
}
